<h1>Hello World</h1>


<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-description">
          <h2><%= c.name %></h2>
          <%= link_to "Voir", cocktail_path(c)%>
          <%= link_to "Nouveau", new_cocktail_path%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
